@page "/"

@inject HttpClient Http


<PageTitle>Servicios Disponibles</PageTitle>

<div class="cosmos-background">
    <div class="stars-container"></div>
</div>

<div class="container-fluid h-100 d-flex flex-column">
    <main class="flex-grow-1 d-flex align-items-center justify-content-center position-relative">
        <div class="carousel-container">
            <div class="carousel" id="memory-carousel">

                @foreach (var s in servicios)
                {
                    <div class="memory-card">
                        <div class="card-inner">

                            <!-- FRONT -->
                            <div class="card-front">
                                <div class="card-content">
                                    <div class="memory-date">
                                        @s.TipoNombre
                                    </div>


                                    <p class="memory-preview">
                                        @s.TipoDescripcion
                                    </p>

                                    <img src="@GetImagenPorTipo(s.TipoNombre)" class="card-img-top memory-img" />

                                    <p class="memory-preview">
                                        <strong>Marca:</strong> $@s.Marca <br />
                                        <strong>Placa:</strong> @s.Placa
                                    </p>

                                   <button class="submit-btn fs-6" @onclick="() => IrAReserva(s)">
    Reservar
</button>

                                </div>
                            </div>

                            <!-- BACK -->
                            <div class="card-back">
                                <div class="card-content">

                                    <h3>Detalles del servicio</h3>

                                  
                                    <p><strong>Vehículo:</strong> @s.TipoNombre</p>
                                      <p><strong>Descripcion:</strong> @s.TipoDescripcion</p
                                    <p><strong>Modelo:</strong> @s.Modelo</p

                                    <p><strong>Capacidad:</strong><br /> @s.Capacidad</p>

                                </div>
                            </div>

                        </div>
                    </div>
                }

            </div>

        </div>

        <div class="carousel-controls opacity-25">
            <button id="prev-btn" class="control-btn">
                <i class="fa-solid fa-chevron-left"></i>
            </button>
            <button id="next-btn" class="control-btn">
                <i class="fa-solid fa-chevron-right"></i>
            </button>
        </div>
    </main>
</div>

@code {

    bool carouselInicializado = false;


    [Inject] private IJSRuntime JS { get; set; } 

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Si ya tengo servicios cargados y aún no he inicializado el carrusel
        if (!carouselInicializado && servicios?.Count > 0)
        {
            carouselInicializado = true;
            await JS.InvokeVoidAsync("initCarousel");
        }
    }


    List<ServicioDTO> servicios = new();

    bool modalAbierto = false;
    ServicioDTO? servicioSeleccionado;

    string? formFecha;
    string? formNotas;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            servicios = await Http.GetFromJsonAsync<List<ServicioDTO>>("api/Transporte/vm");
            StateHasChanged();  // fuerza render
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al consumir API: {ex.Message}");
        }
    }


    public class ServicioDTO
    {
        // Transporte
        public int TransporteId { get; set; }
        public string? Placa { get; set; }
        public string? Marca { get; set; }
        public string? Modelo { get; set; }
        public int Capacidad { get; set; }

        // TipoTransporte
        public string? TipoNombre { get; set; }
        public string? TipoDescripcion { get; set; }
    }

    string GetImagenPorTipo(string? tipo)
    {
        Console.WriteLine($"TIPO: {tipo}");
        if (string.IsNullOrWhiteSpace(tipo))
            return "https://images.unsplash.com/photo-1502877338535-766e1452684a";

        if (tipo == "Chiva")
            return "https://chivasrumba.com.co/wp-content/uploads/2024/03/chiva-rumbera-1-1020x1024.jpg";

        if (tipo == "Moto")
            return "https://thumbs.dreamstime.com/b/motocicleta-futurista-bajo-un-brillante-cielo-ne%C3%B3n-en-ocaso-una-elegante-con-brillantes-llantas-azules-descansa-paisaje-al-aire-384338010.jpg";

        if (tipo == "Bicitaxi")
            return "https://static.vecteezy.com/system/resources/previews/026/991/586/non_2x/rickshaw-of-a-beautiful-transportation-with-futuristic-design-ai-generated-photo.jpg";

        if (tipo == "Jeep")
        return "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3UiiLZWYQjSdP76COzXOIxh_5jHPG1-BlHw&s";
        if (tipo == "Lancha")
        return "https://restagenciaturistica.com/wp-content/uploads/2019/05/CENA-SIBARITA.-PABLO.jpg";

        if (tipo == "Taxi")
        return "https://getvico.com/blog/wp-content/uploads/2018/01/Taxi-Medellin.jpg";


        return "https://images.unsplash.com/photo-1502877338535-766e1452684a"; // por defecto
    }

    [Inject] NavigationManager Nav { get; set; }

    void IrAReserva(ServicioDTO s)
    {

        int id = servicios.IndexOf(s);

        Nav.NavigateTo($"/reservar/{id}");
    }
}
